<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<!--公共包源，一些公共类库可以从里面下载-->
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<!--关于该包的项目编号，gitlab目前支持以项目编号来发布包-->
		<add key="gitlabProject" value="http://192.168.4.109/api/v4/projects/112/packages/nuget/index.json"  allowInsecureConnections="true"/>
		<!--关于该包的组号，离线组是115，射线组是2-->
		<add key="gitlab" value="http://192.168.4.109/api/v4/groups/49/-/packages/nuget/index.json"  allowInsecureConnections="true"/>
	</packageSources>
	<packageSourceCredentials>
		<!--上面配置的key = gitlabProject的Token，可以理解为账户密码，这样发布包的时候不用再输入了-->
		<gitlabProject>
			<add key="Username" value="gitlab+deploy-token-20" />
			<add key="ClearTextPassword" value="V6Tray-dxwZzGFWvQhyv" />
			<!--<add key="Username" value="gitlab+deploy-token-3" />
			<add key="ClearTextPassword" value="_so49haPVgSnA_JFXuL2" />-->
		</gitlabProject>
		<!--上面配置的key = gitlab的Token，可以理解为账户密码，这样发布包的时候不用再输入了-->
		<gitlab>
			<add key="Username" value="gitlab+deploy-token-1" />
			<add key="ClearTextPassword" value="dniEuB56rCTHD_jcjXU4" />
		</gitlab>
	</packageSourceCredentials>
</configuration>